<header class="header">
  <div class="header__fixed" [ngClass]="{ scrolled: isScrolled }">
    <div class="container header__content">
      <a href="#" class="header__logo">
        <img src="../../../assets/main-logo.svg" alt="logo" />
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Trade In</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Велосипеды</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Запчасти</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Экипировка</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Аксессуары</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Велостанки</a>
          </li>
        </ul>
      </nav>
      <div class="tools">
        <ul class="tools__list">
          <li class="tools__item">
            <span class="material-icons md-light">search</span>
          </li>
          <li class="tools__item">
            <span class="material-icons md-light">person_outline</span>
          </li>
          <li class="tools__item">
            <span class="material-icons md-light">favorite_border</span>
          </li>
          <li class="tools__item">
            <span class="material-icons md-light"
              ><span class="material-symbols-outlined">
                add_shopping_cart
              </span></span
            >
          </li>
        </ul>
      </div>
      <div class="humburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <app-hero></app-hero>
</header>
