<div class="catalog">
  <div class="container">
    <h2>Каталог</h2>
    <div class="catalog__wrapper">
      <a href="#" class="catalog__item-1 horizontal">
        <h2 class="catalog__title">Велосипеды</h2>
        <div class="catalog__item-1-image">
          <img src="../../../assets/catalog-menu/bike-1.png" alt="велосипеды" />
        </div>
      </a>
      <a href="#" class="catalog__item-2 vertical">
        <h2>Trade-in</h2>
        <img src="../../../assets/catalog-menu/trade-in-2.png" alt="bikes" />
      </a>
      <a href="" class="catalog__item-3">
        <h2>Запчасти</h2>
        <img src="../../../assets/catalog-menu/spare-3.png" alt="запчасти" />
      </a>

      <a href="" class="catalog__item-4">
        <h2>Экипировка</h2>
        <img src="../../../assets/catalog-menu/gear-5.png" alt="экипировка" />
      </a>

      <a href="" class="catalog__item-5">
        <h2>Аксессуары</h2>
        <img
          src="../../../assets/catalog-menu/accessory-4.png"
          alt="аксессуары"
        />
      </a>
      <a href="" class="catalog__item-6">
        <h2>Велостанки</h2>
        <img src="../../../assets/catalog-menu/tools-6.png" alt="велостанки" />
      </a>
    </div>
  </div>
</div>
