@import "../../../styles.scss";

.catalog {
  width: 1200;
  background: $text-color;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 229px);

    gap: 15px;
    .vertical {
      grid-row: 2 / span 3;
    }
    .horizontal {
      grid-column: 1 / span 3;
    }
    h2 {
      color: $text-color;
      font-size: 3rem;
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      margin-right: 3rem;
      margin: 0;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-item-1 {
      // padding: 67px 0px 0px 67px;
      background: $dark-grey;
      height: 205px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      img {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    &-inner-1 {
      position: relative;
      height: 100%;
      text-align: center;
      transition: all 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      img {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      h2 {
        margin-top: 67px;
      }
    }
    &-item-2 {
      background: $dark-grey;
      height: 265px;
      border-radius: 10px;
      overflow: hidden;
    }
    &-inner-2 {
      position: relative;
      text-align: center;
      padding-left: 40px;
      transition: all 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }

      img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
      h2 {
        display: block;
        position: absolute;
        margin-top: 40%;
      }
    }
    &-inner-3 {
      position: relative;
      height: 100%;
      padding-top: 40px;
      text-align: center;
      transition: all 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    &-inner-4 {
      position: relative;
      height: 100%;
      padding-top: 40px;
      text-align: center;
      transition: all 0.4s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__item-inner {
    display: flex;
    padding-left: 10px;
    transition: all 0.4s ease-in-out;
    padding-left: 80px;
    h2 {
      margin-top: 100px;
    }
    &-image {
      position: relative;
      max-width: 800px;

      img {
        display: block;
        position: absolute;
        bottom: 0;
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__item-1 {
    background-color: $orange;
    border-radius: 10px;
    overflow: hidden;
  }

  &__item-inner-2 {
    position: relative;
    height: 100%;
    text-align: center;
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    img {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
  &__item-2 {
    background: $dark-grey;
    border-radius: 10px;
    padding-top: 80px;
    overflow: hidden;
  }

  &__phrase {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  &__description {
    width: 510px;
    p {
      line-height: 1.8rem;
      padding-bottom: 32px;
    }
    span {
      color: $light-grey-2;
    }
  }
}
