$text-color: #fff;
$text-color-grey: #abb8c3;
$bg-color: #f8f8f8;
$dark-grey: #101010;
$dark-grey-2: #131313;
$light-grey: #2e2e2e;
$light-grey-2: #777;
$light-grey-3: #4c4c4c;
$orange: #f57520;
$orange-hover: #f57f2a;
$orange-pressed: #e1610c;
$color-black: #000;

$default-font-size: 1rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: $bg-color;
  font-family: "Intro", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}
a {
  outline: none;
  text-decoration: none;
}

.container {
  width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 123%; /* 78.72px */
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 0;
}
